.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0 0 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__label {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__label_type_radio {
  opacity: 50%;
}

.modal__label_type_radio input[type="radio"] {
  appearance: none;
  border: 1px solid black;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  opacity: 50%;
}

.modal__label_type_radio input[type="radio"]:checked {
  appearance: none;
  border: 1px solid black;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: relative;
  opacity: 100%;
}

.modal__label_type_radio:has(input[type="radio"]:checked) {
  opacity: 100%;
}

.modal__label_type_radio input[type="radio"]:checked::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__close-btn {
  background-image: url(../../assets/close-btn.png);
  position: absolute;
  top: 20px;
  right: 28px;
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 16px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__input {
  display: block;
  margin: 0 0 24px;
  padding: 0;
  width: 440px;
  height: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-bottom: 1px solid black;
}

.modal__legend {
  width: 173px;
  height: 20px;
  margin: 0 0 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
}

.modal__radio-btns {
  margin: 0;
  width: 173px;
  height: 108px;
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__submit-btn {
  margin: 32px 0 0;
  width: 124px;
  height: 36px;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: #000000;
  opacity: 30%;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__submit-btn:hover {
  background-color: #000000;
  opacity: 60%;
  cursor: pointer;
}
