.modal__content_type_image {
  width: 498px;
  height: 610px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.modal__caption {
  margin: 20px 0 12px;
  padding-left: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__weather {
  margin: 20px 0 12px;
  padding-left: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  align-items: flex-start;
}

.modal__image {
  max-width: 498px;
  min-height: 498px;
  object-fit: cover;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
}

.modal__delete-btn {
  width: 98px;
  height: 13px;
  margin-top: 25px;
  padding-right: 33px;
  cursor: pointer;
}

.modal__delete-btn_hidden {
  display: none;
}
