.modal__content_type_image {
  width: 498px;
  height: 610px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.modal__caption {
  margin: 20px 0 12px;
  padding-left: 32px;
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
  line-height: 24px;
}

.modal__weather {
  margin: 20px 0 12px;
  padding-left: 32px;
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
  line-height: 24px;
}

.modal__image {
  max-width: 498px;
  min-height: 498px;
  object-fit: cover;
}
